html{
  margin: 0;
  padding: 0;
}
body{
  display: block;
  box-sizing: border-box;
  background-image: url(https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&h=35) no-repeat;
  background-size: cover;
}
.image{
  width: 50%;
  height: 30%;
  margin:2% 30%;
}
.main{
  width: 90%;
  border: 3px solid blue;
  padding: 1%;
  margin: 2%;
}
label input{
  display: block;
  overflow: hidden;
  padding: 2%;
  margin: 100px 2%;
}

button{
  padding: 1%;
  border: solid black 2px;
  margin: 1% 1%;
  border-radius: 10px;
}
.btn{
  display: inline;
  width: 80%;
  margin: 3% 20%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
th {
  background-color: #3333ff;
  color: white;
}
tr:nth-child(even){
  background-color: #b3b3ff
}
tr:hover {
  background-color:#f5f5f5;
}
