html, body{
  height: 100%;
  margin: 0px;
}

#hogwarts-background{
  display: flex;
  align-items: center;
  height: 100%;
  background-image: url("hogwarts.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;

}

#form-wrapper{
  width:90%;
  max-width:500px;
  min-height: 500px;
  background-color: rgba(0,0,0,0.6);
}

#form-wrapper > form{
  color:white;
  padding: 40px;
  ont-family: 'Jolly Lodger';
  font-size: 26px;
  letter-spacing: 1px;
}

#form-wrapper > form > input, select{
  font-family: 'Jolly Lodger';
  font-size: 22px;
  letter-spacing: 1px;
}
