html, body {
	height: 100%;
}
body{
		display: flex;
		margin: auto;
		flex-direction: column;
		align-items: center;
		padding: 10%;
		background-color: #abebc6 ;
		font-family: fantasy;
}
.header{
	margin-left: auto;
	margin-right: auto;
}
.header_logo{
		margin-left: 5%;
}
.login{
	text-align: center;
	margin: auto;

}
.login input{
	padding: 2%;
	margin: 1%;
	border-radius: 10px;
	border-color: black;
	width: 65%;
}
.login button{
		padding:2%;
		border-radius: 15px;
		border-style: ridge;
		border-color: black;
		box-sizing: border-box;
		/* box-shadow: 0px 8px 5px; */
		font-size: 1.2em;
		margin: 5%;
		padding: 2%;
}
