
body{
		text-align: justify;
}

h1{
	text-align: center;
}

.container{
	border-style:groove;
    /* padding: 2%; */
		margin-left: 5%;
		background-color: #d4efdf;
}

h2,h3,h4,h6{
	font-size: 1,8em;
	font-family:"Oswald", sans-serif;
	font-style: normal;
	border-bottom-color:#138d75;
	border-bottom-style: solid;
	border-spacing: 0.8em;
}

p, h5{
	font-size: 1,9em;
	font-family:"Oswald", sans-serif;
	font-style: normal;
}

.navbar{
	display: inline-block;
	background-color: #1c776e;
  width:100%;
  position: fixed;
  top: 0;
  opacity: 0.8;
  z-index: 9999;
	padding: 1%;
}

.navbar a{
	font-family: sans-serif;
	color: white;
	text-decoration: none;
	padding: 6% 4%;
}

.navbar a:hover{
        background-color: white;
        color: #1c776e;
			}

.welcome{
	padding-top: 2%;
	margin: 2%;
}

.question{
	padding:1%;
	margin: 2%;
	border-style: groove;
	border-color: white;
}

button {
	 padding: 1%;
	 width:15%;
	 background-color: #138d75;
	 border-style: solid;
	 border-color: black;
	 border-width: 1%;
	 margin: 3%;
	 text-align: center;
	 text-decoration: none;
	 font-size: 16px;
	 border-radius: 15px;
	}
