body h1{
  font-family: 'Tajawal', sans-serif;
	margin: 5px;
}
h1{
	text-align: center;
	padding: 10px;
	margin: 10px auto;
}
.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 10px;
	padding: 20px 10px;
}
#img{
	background-image: url("");
	background-repeat: no-repeat;
	background-size: contain;
}
.search{
	float: left;
}
#mapContainer{
	float: right;
	right: 0;
}
select{
	font-size: 14;
	border-radius: 10px;
	padding: 2px 2px;
	margin: 10px;
}
#link{
	border-bottom: 2px solid blue;
}
