body h1{
  font-family: 'Tajawal', sans-serif;
	margin: 5px;
	padding: 5%;
}
h1{
	text-align: center;
	padding: 10px;
	margin: 10px auto;
}
.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 10px;
	padding: 20px 10px;
}

#search{
	text-align: center;
}
#mapContainer{
	float: right;
	right: 0;
}
select{
	font-size: 1em;
	padding: 10px 10px;
	border: 2px solid black;
	margin-right:  -1px;
}
button{
	font-size: 1em;
	padding: 10px 15px;
	border: 2px solid black;
	margin: -1px;
}
#link{
	border-bottom: 2px solid blue;
}
#mapContainer{
	visibility: hidden;
}
