body {
	height: 100vh;
	border-style: ridge;
	border-color:#c54d34;
	border-width: thick;
}
h1{
  font-size: 5em;
  font-family: Slabo;
  text-align: center;
  margin:0;
}
.images{
 	/* background: url(rockpaper.gif) repeat; */
	background: url(https://thumbs.gfycat.com/RegalAssuredGossamerwingedbutterfly-max-1mb.gif) repeat;
	background-position: center;
	background-size: contain;
	width:100%;
	height:30%;
	border-bottom-style: groove;
	border-color: inherit;
}
.dropdown{
	display: grid;
	grid-gap:5%;
	justify-content: center;
	alig-items: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}
.dropdown >p{
	font-size: 1.2em;
	text-align: center;
}
select{
  font-size:1.5em;
  border: 5px solid;
	border-radius: 10px;
	border-color: #c54d34;
	margin-bottom: 5%;
}

.play{
	margin-left:10%;
	margin-right: 10%;
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
	font-size: 1.5em;
	text-align: center;
}
.play >div{
	justify-content: center;
}
.play >p{
	border:5%;
	border-style: solid;
	border-color: #c54d34;
	justify-content: center;
}
#winner{
	text-decoration: underline;
	color: red;
}
